/* Section - Services */

.services {
  padding: 60px 0;
}

.section-title p {
  padding-bottom: 25px;
}

.card {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  margin: 0 15px; /* between cards */
  min-height: 305px;
}

.col {
  margin: 35px 0;
}

.card-img {
  border-radius: 20px 20px 0 0;
  height: 220px;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-1.jpeg") center center / 100% no-repeat;
}
/* .card:hover .card-img {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../img/services/services-6.jpg") top center / 150% no-repeat;
  transition: all 0.7s ease-in-out;
} */

.card-img-2 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-2.jpeg") center / 130% no-repeat;
}
/* .card:hover .card-img-2 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../img/services/services-13.jpg") center / 150% no-repeat;
} */

.card-img-3 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-3.jpeg") center / 130% no-repeat;
}
/* .card:hover .card-img-3 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../img/services/services-3.jpg") center / 150% no-repeat;
} */

.card-img-4 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-4.jpeg") center / 130% no-repeat;
}
/* .card:hover .card-img-4 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
  url("../img/services/services-4.jpg") center / 150% no-repeat;
} */

.card-img-5 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-5.jpeg") top / 130% no-repeat;
}
/* .card:hover .card-img-5 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
  url("../img/services/services-5.jpg") top / 150% no-repeat;
} */

.card-img-6 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/services/services-6.jpeg") center / 130% no-repeat;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
}

.card-body {
  padding: 25px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  transition: all 0.7s ease-in-out;
}

.card .card-text {
  position: relative;
  top: -40px;
  opacity: 0;
  height: 0;
  transition: all 0.7s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.card:hover .card-text {
  top: 10px;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.card:hover .card-body {
  margin-top: -110px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}

@media (max-width: 991.98px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .col {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .section-title h2 {
    font-size: 24px;
  }
}

/* Section - Tabs */

/* .ftco-services{
    padding-top: 10px;
} */

.ftco-services .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

.tab-content .py-5 {
  padding: 0rem 1.5rem !important;
}

.ftco-services .nav-link-wrap {
  background: #6355f2;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 0 3rem !important;
  }

  .tab-pane {
    display: block !important;
    height: 0 !important;
    opacity: 0;
    transform: translateY(50vh);
  }

  .show {
    display: block !important;
    opacity: 1;
    transform: translateY(-300px);
    transition: all 1s ease-in-out;
  }
}

@media (max-width: 767.98px) {
  .ftco-services .nav-link-wrap {
    margin-top: 30px;
  }

  .ftco-services .p-4 {
    padding: 0 !important;
  }

  .tab-content .show {
    margin-top: 90px;
    display: block !important;
  }
}

.ftco-services .nav-pills p {
  margin-bottom: 0;
}

.ftco-services .nav-pills .tab-link {
  border-radius: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  transition: all 0.7s ease;
  padding: 10px 12px !important;
}

.ftco-services .nav-pills .tab-link:after {
  position: absolute;
  top: 20px;
  bottom: 10px;
  right: -12px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fafafa transparent transparent;
  opacity: 0;
}

.ftco-services .nav-pills .tab-link span {
  font-size: 24px;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: top;
}

.ftco-services .nav-pills .tab-link.active,
.ftco-services .nav-pills .tab-link:hover {
  color: #fff;
  font-size: 22px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
}

.ftco-services .nav-pills .tab-link.active:after,
.ftco-services .nav-pills .tab-link:hover:after {
  opacity: 1;
}

.ftco-services .nav-pills .tab-link.active span i,
.ftco-services .nav-pills .tab-link:hover span i {
  color: #fff;
  transition: all 0.3s ease;
}

.ftco-services .tab-content .tab-pane .icon {
  font-size: 100px;
  line-height: 1.2;
  color: #5846f9;
}

.ftco-services .tab-content img{
  width: 100%;
  min-height: fit-content;
}

@media (max-width: 767.98px) {
  .ftco-services .nav-pills .tab-link.active:after,
  .ftco-services .nav-pills .tab-link:hover:after {
    opacity: 0;
  }

  .ftco-services .nav-pills .tab-link {
    display: block;
    width: 100%;
  }
}
